.item1 { grid-area: header; }
.item2 { grid-area: content; }
.item3 { grid-area: side; }
.item4 {grid-area: footer;}

.grid-container {
display: grid;
grid-template-areas:
'header header header header header header'
'content content content side side side'
'footer footer footer footer footer footer';
gap: 10px;
background-color: rgb(43, 11, 205);
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}


